
  {{#each this}}
    {{!-- <li class='genres-filters__item' data-id='{{id}}'>{{name}}</li> --}}

    <div>
      <input class="filter__checkbox" type="checkbox" id="{{name}}" data-id='{{id}}'   >
      <label for="{{name}}">{{name}}</label>
    </div>
  {{/each}}
