<button type='button' class='modal__close-button'>
  <i class='fa fa-times' aria-hidden='true'></i>
</button>



<div class='modal' data-set='https://image.tmdb.org/t/p/original/{{backdrop_path}}'>
    <button type='button' class='modal__video' >
  <i data-set={{id}} class="fa fa-youtube-play" aria-hidden="true"></i>
</button>
    <img
    class="modal__movie-poster"
    {{#if poster_path}}
    src='https://image.tmdb.org/t/p/original/{{poster_path}}'
    data-img='https://image.tmdb.org/t/p/original/{{backdrop_path}}'
    {{else}}
    src="https://kinomaiak.ru/wp-content/uploads/2018/02/noposter.png"
    data-img=''
    {{/if}}
    alt=''
    data-set={{id}}
/>
  <div class='modal__container'>

    <h2 class='modal__title-movie'>{{title}}</h2>
    <div class='modal__container-info'>
      <ul class='modal__list list'>
        <li class='modal__item'>Vote / Votes</li>
        <li class='modal__item'>Popularity</li>
        <li class='modal__item'>Original</li>
        <li class='modal__item'>Genre</li>
      </ul>
      <ul class='modal__list-info list'>
        <li class='modal__item-info'><span class='modal__vote'>{{vote_average}}</span>
          /
          <span class='modal__votes'>{{vote_count}}</span></li>
        <li class='modal__item-info'>{{popularity}} </li>
        <li class='modal__item-info'><span class='title-movie-text-transform'>
            {{original_title}}</span>
        </li>
        <li class='modal__item-info'>{{#each genres}} {{name}} {{/each}}</li>
      </ul>
    </div>
    <h3 class='modal__subtitle-about'>About</h3>
    <p class='modal__about'>{{overview}}</p>
    <div class='modal__container__button'>
      <button data-set=`{{id}}` type='button'  class='modal__button js-watched'>add to Watched</button>
      <button data-set=`{{id}}` type='button'  class='modal__button js-queue'>add to queue</button>
    </div>
  </div>
</div>