{{#each this}}
<div class="film-strip__item" data-slider="{{@index}}" data-position="{{@index}}" data-source="{{id}}" data-set={{id}}>
  {{#if title}}
  <h2 class="film__title">{{title}} </h2>
  {{else}}
  <h2 class="film__title">{{original_title}} </h2>
  {{/if}}
  {{!--<ul class="slider-card-markup"></ul>--}}

  <span class="material-icons-outlined film-strip__info film-strip__btn" data-source="{{id}}">
    info
    <img class="false-image" src="" data-source="{{id}}"/>
  </span>
  <span class="material-icons-outlined film-strip__play-video film-strip__btn" data-set={{id}}>
    play_circle_outline
  </span>
  <span class="material-icons-outlined film-strip__add-to-lib film-strip__btn">
    add_circle_outline
  </span>

  <img class="strip-img" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}">

</div>
{{/each}}