<div class='team-section'>
  <div class='team-section__container'>
    <h2 class='team__title'>
      Dreamteam&nbsp;&nbsp;<span class='team__title_accent'>&laquo;Twix&raquo;</span>
    </h2>
    <ul class='cards-container js-team list'>
      {{#each this}}
        <li id='{{id}}' class='card'>
          <a href='#{{id}}' class='link'>
            <div class='card__content'>
              <div class='imgBx'>
                <img class='imgBx__img' src='{{image}}' alt='{{name}}' />
              </div>
              <div class='contentBx'>
                <h3 class='contentBx__title'>{{name}}<br /><span
                    class='contentBx__subtitle'
                  >{{description}}</span></h3>
              </div>
            </div>
            <ul class='sci'>
              <li class='sci__item' style='--i: 1'>
                <a class='sci__link' href='{{github}}' rel='noreferrer noopener'><i
                    class='fa fa-github'
                    aria-hidden='true'
                  ></i></a>
              </li>
              <li class='sci__item' style='--i: 2'>
                <a class='sci__link' href='{{telegram}}' rel='noreferrer noopener'><i
                    class='fa fa-linkedin-square'
                    aria-hidden='true'
                  ></i></a>
              </li>
              <li class='sci__item' style='--i: 3'>
                <a class='sci__link' href='{{linkdIn}}' rel='noreferrer noopener'><i
                    class='fa fa-telegram'
                    aria-hidden='true'
                  ></i></a>
              </li>
            </ul>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>